<h1>Identify</h1>
<form action="/LOGIN" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" id="Name" name="user_name">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="Password" name="user_password">
  </div>
  <button type="submit">Login</button>
</form>