<h1>Logged In</h1>

<p>Now you can try to access the different routes (or log out.)</p>
<p>The admin has access to everything, students only have access to their own page.</p>

<p><a href="/student1">/student1</a></p>
<p><a href="/student2">/student2</a></p>
<p><a href="/teacher">/teacher</a></p>
<p><a href="/admin">/admin</a></p>

<a href="/logout">LOG OUT</a>